/Users/bassa/GitHub/archi_scraper/albo.csv
/Users/bassa/GitHub/archi_scraper/archi_scraper/__init__.pyc
/Users/bassa/GitHub/archi_scraper/archi_scraper/items.pyc
/Users/bassa/GitHub/archi_scraper/archi_scraper/pipelines.pyc
/Users/bassa/GitHub/archi_scraper/archi_scraper/settings.pyc
/Users/bassa/GitHub/archi_scraper/archi_scraper/spiders/__init__.pyc
/Users/bassa/GitHub/archi_scraper/archi_scraper/spiders/archi_spider.pyc
/Users/bassa/GitHub/archi_scraper/.scrapy/